.DS_Store
sprint#2_data_preprocessing/.DS_Store
sprint#2_data_preprocessing/.ipynb
sprint#2_data_preprocessing/.ipynb_checkpoints/
sprint#2_data_preprocessing/data.csv
sprint#3_exploratory_data_analysis/.DS_Store
sprint#3_exploratory_data_analysis/.ipynb_checkpoints/
sprint#3_exploratory_data_analysis/real_estate_data.csv